body {
  font-family: verdana;
  background-color: #fafafa;
}

#spinner {
  width: 64px;
  height: 64px;
  margin: auto;
  background: url(./images/spinner.gif) no-repeat;
  background-size: 64px 64px;

  position: fixed;
  top: 50%;
  left: 50%;
}

.search-results_item {
    margin: 8px 0 0;
}

#user-details {
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
}
